# SQL Data Exploration Using Python
- This project demonstrates a quick and easy way to be able to run SQL queries with Python on Jupyta notebook. 
- MySQL is a software that utilizes an SQL database engine. It performs relatively fast and highly reliable.

# Importing MySQL and Pandas

In [11]:
#Importing the necessary libraries

import mysql.connector
from mysql.connector import Error
import pandas as pd

# Create a Server Connection
- Using the connect() function let you to create a database in your environment. This allows users name their database to be called in Python later on. 
- The connect() function maintains the connection while you are working with the database.

In [20]:
#Write a funtn that can make create a server connection

def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            password = user_password
        )
        print('MySQL Database connection successful')
    except Error as err:
        print(f"Error: '{err}'")
    return connection

# set mySql terminal password and database name

pw = '15398574ed'

db = 'mysql_python'
connection = create_server_connection('localhost', 'root', pw)

MySQL Database connection successful

# Creating a Database (Using cursor object)

- The cursor() function is used to assist with executing our SQL queries
- It is necessary that you use the cursor() to return a Cursor instance corresponding to the database you want to query.

In [16]:
#Create mySQL_python database

def create_database(connection, query):
    # The python mysql cursor is used to excecute statement to communicate with the database
    cursor = connection.cursor()
    try:
        # create a new database
        cursor.execute(query)
        print('Database created successfully')
    except Error as err:
        print(f"Error: '{err}'")
 #creating a 'mysql_python' database
create_database_query = 'Create database mysql_python'

create_database(connection, create_database_query)

Error: '1007 (HY000): Can't create database 'mysql_python'; database exists'

# Connecting to database

In [21]:
# Write a function that will connect to the database

def create_db_connect(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            password = user_password,
            database = db_name
            )
        print('MySQL database connection successfull')
    except Error as err:
        print(f"Error: '{err}'")
    return connection

# Execute SQL Queries

- Execute the query using the cursor variable and use the commit() method.

In [22]:
# Write a function that excecute SQL queries which allow me to manipute data in the database

def execute_query(connection, query):
    #establish connection to run sql statement
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print('Query was successful')
    except Error as err:
        print(f"Error: '{err}'")

## Create tables and insert data

In [23]:
# Creating an order table

create_orders_table = """
create table orders(
order_id int primary key,
customer_name  varchar(30) not null,
product_name varchar(30) not null,
date_ordered date,
unit_price float,
phone_number varchar(20));

"""

# Connect to the database
connection = create_db_connect('localhost', 'root', pw, db)
execute_query(connection, create_orders_table)

MySQL database connection successfull
Query was successful

In [24]:
#creating a prodcut table

create_product_table = """

CREATE TABLE `products` (
  `product_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `quantity_in_stock` int(11) NOT NULL,
  `unit_price` decimal(4,2) NOT NULL,
  PRIMARY KEY (`product_id`)
)

"""

#connect to the database
connection = create_db_connect('localhost', 'root', pw, db)
execute_query(connection, create_product_table)

MySQL database connection successfull
Query was successful

In [34]:
# Insert data into orders table

orders_data = """
insert into orders values
(101, 'Mike', 'Laptop','2018-05-21', 1000, '0808034893'),
(102, 'Gree', 'Shoes', '2020-02-12', 23, '0808034893'),
(103, 'Steve', 'Laptop', '2022-07-3', 1050, '089038403'),
(104, 'Glory', 'Tank', '2020-1-10', 102, '090098330'),
(105, 'Jane', 'Shirt', '2022-08-4', 16, '080389594');

"""
#connect to the database
connection = create_db_connect('localhost', 'root', pw, db)
execute_query(connection, orders_data)

MySQL database connection successfull
Query was successful

In [37]:
# Insert data into products table

product_data = """
insert into products values

(1,'Foam Dinner Plate',70,1.21),
(2,'Pork - Bacon,back Peameal',49,4.65),
(3,'Lettuce - Romaine, Heart',38,3.35),
(4,'Brocolinni - Gaylan, Chinese',90,4.53),
(5,'Sauce - Ranch Dressing',94,1.63),
(6,'Petit Baguette',14,2.39),
(7,'Sweet Pea Sprouts',98,3.29),
(8,'Island Oasis - Raspberry',26,0.74),
(9,'Longan',67,2.26),
(10,'Broom - Push',6,1.09);

"""
#connect to the database
connection = create_db_connect('localhost', 'root', pw, db)
execute_query(connection, product_data)

MySQL database connection successfull
Query was successful

# Read and display records
- Execute the query using the cursor variable from earlier. 
- This will convert the results to tuples and store it as a local variable. To get all the results we use fetchall().

In [40]:
# Create function that will user MySQL command to read and display queries

def read_query(connection, query):
    cursor = connection.cursor()
    result =None
    try:
        cursor.execute(query)
        result = cursor.fetchall()# to fetch all the records
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [44]:
# Using the select clause to fetch all orders records
q1 = """
select * from orders;
"""

connection = create_db_connect('localhost', 'root', pw, db)
print()
results = read_query(connection, q1)
for result in results:
    print(result)

MySQL database connection successfull

(101, 'Mike', 'Laptop', datetime.date(2018, 5, 21), 1000.0, '0808034893')
(102, 'Gree', 'Shoes', datetime.date(2020, 2, 12), 23.0, '0808034893')
(103, 'Steve', 'Laptop', datetime.date(2022, 7, 3), 1050.0, '089038403')
(104, 'Glory', 'Tank', datetime.date(2020, 1, 10), 102.0, '090098330')
(105, 'Jane', 'Shirt', datetime.date(2022, 8, 4), 16.0, '080389594')

In [43]:
# Using the select clause to fetch all products records
q2 = """
select * from products;
"""

connection = create_db_connect('localhost', 'root', pw, db)
print()
results = read_query(connection, q2)
for result in results:
    print(result)

MySQL database connection successfull

(1, 'Foam Dinner Plate', 70, Decimal('1.21'))
(2, 'Pork - Bacon,back Peameal', 49, Decimal('4.65'))
(3, 'Lettuce - Romaine, Heart', 38, Decimal('3.35'))
(4, 'Brocolinni - Gaylan, Chinese', 90, Decimal('4.53'))
(5, 'Sauce - Ranch Dressing', 94, Decimal('1.63'))
(6, 'Petit Baguette', 14, Decimal('2.39'))
(7, 'Sweet Pea Sprouts', 98, Decimal('3.29'))
(8, 'Island Oasis - Raspberry', 26, Decimal('0.74'))
(9, 'Longan', 67, Decimal('2.26'))
(10, 'Broom - Push', 6, Decimal('1.09'))

In [45]:
# Using the select clause to fetch all orders year records
q3 = """
select year(date_ordered) 
from orders;
"""

connection = create_db_connect('localhost', 'root', pw, db)
print()
results = read_query(connection, q3)
for result in results:
    print(result)

MySQL database connection successfull

(2018,)
(2020,)
(2022,)
(2020,)
(2022,)

In [47]:
# Using the WHERE clause to fetch orders records
q4 = """
select * 
from orders
where unit_price > 100;
"""

connection = create_db_connect('localhost', 'root', pw, db)
print()
results = read_query(connection, q4)
for result in results:
    print(result)

MySQL database connection successfull

(101, 'Mike', 'Laptop', datetime.date(2018, 5, 21), 1000.0, '0808034893')
(103, 'Steve', 'Laptop', datetime.date(2022, 7, 3), 1050.0, '089038403')
(104, 'Glory', 'Tank', datetime.date(2020, 1, 10), 102.0, '090098330')

# Converting table to Dataframe

In [55]:
# Fetching all the data from orders table
order_query = """
select * from orders;
"""

connection = create_db_connect('localhost', 'root', pw, db)



#Looping through the order table records
order_table = []
results = read_query(connection, order_query) # initialize connection
for result in results:
    result = list(result)
    order_table.append(result)
columns  = ['order_id','customer_name','product_name','date_ordered','unit_price',
            'phone_number']
# Create order dataframe

order_df = pd.DataFrame(order_table, columns = columns)

order_df.head()

MySQL database connection successfull

   order_id customer_name product_name date_ordered  unit_price phone_number
0       101          Mike       Laptop   2018-05-21      1000.0   0808034893
1       102          Gree        Shoes   2020-02-12        23.0   0808034893
2       103         Steve       Laptop   2022-07-03      1050.0    089038403
3       104         Glory         Tank   2020-01-10       102.0    090098330
4       105          Jane        Shirt   2022-08-04        16.0    080389594

## Closing database connection
-It is important to close your connection when you are finished. 
-Closing the connection will grant others access to the database.

In [56]:
#Closer connection
connection.close()